h1{
    text-align: center;
    font-size: 80px;
    font-family: cursive;
    color: brown;
    background-color: rgba(197, 147, 87, 0.712);
    margin:40px  400px;
    border: solid;
}
.set{
    text-align: center;
    line-height: 8rem;
    font-size: 13rem;
    margin: auto;
    margin-bottom: 100px;
}
footer{
    text-align: center;
    line-height: 2rem;
    font-size: large;
    background-color: brown;
    display: inline-block;
    margin-left: 50%;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}
.a{
    background-image: url("drum_img/a.jpg") ;
    margin-top: 444px;
     padding: 80px 80px;
     border-radius: 10px;
     background-color: dodgerblue;
     color: rgb(24, 77, 105);
     font-weight: bold;
     font-size: 80px;    
     margin: 100px 100px;
     cursor: pointer;
     border-color: brown;
     border-width: 10px;
     text-shadow: 4px 4px 4px white;
}
.b{
    background-image: url("drum_img/b.jpg") ;
    margin-top: 444px;
     padding: 80px 80px;
     border-radius: 10px;
     background-color: rgb(185, 21, 127);
     color: rgb(24, 77, 105);
     font-weight: bold;
     font-size: 80px;    
     margin: 100px 100px;
     cursor: pointer;
     border-color: brown;
     border-width: 10px;
     text-shadow: 4px 4px 4px white;
}
.c{
    background-image: url("drum_img/c.jpg") ;
    margin-top: 444px;
     padding: 80px 80px;
     border-radius: 10px;
     background-color: rgb(30, 101, 172);
     color: rgb(24, 77, 105);
     font-weight: bold;
     font-size: 80px;    
     margin: 200px 100px 100px;
     cursor: pointer;
     border-color: brown;
     border-width: 10px;
     text-shadow: 4px 4px 4px white;
}
.d{
    background-image: url("drum_img/d.png") ;
    margin-top: 444px;
     padding: 80px 80px;
     border-radius: 10px;
     background-color: dodgerblue;
     color: rgb(24, 77, 105);
     font-weight: bold;
     font-size: 80px;    
     margin: 100px 100px;
     cursor: pointer;
     border-color: brown;
     border-width: 10px;
     text-shadow: 4px 4px 4px white;
}
.f{
    background-image: url("drum_img/f.jpg") ;
    margin-top: 444px;
     padding: 80px 80px;
     border-radius: 10px;
     background-color: dodgerblue;
     color: rgb(24, 77, 105);
     font-weight: bold;
     font-size: 80px;    
     margin: 100px 100px;
     cursor: pointer;
     border-color: brown;
     border-width: 10px;
     text-shadow: 4px 4px 4px white;
}
.g{
    background-image: url("drum_img/g.jpg") ;
    margin-top: 444px;
     padding: 80px 80px;
     border-radius: 10px;
     background-color: dodgerblue;
     color: rgb(24, 77, 105);
     font-weight: bold;
     font-size: 80px;    
     margin: 100px 100px;
     cursor: pointer;
     border-color: brown;
     border-width: 10px;
     text-shadow: 4px 4px 4px white;
}
.e{
    background-image: url("drum_img/e.jpg") ;
    margin-top: 444px;
     padding: 80px 80px;
     border-radius: 10px;
     background-color: dodgerblue;
     color: rgb(24, 77, 105);
     font-weight: bold;
     font-size: 80px;    
     margin: 100px 100px;
     cursor: pointer;
     border-color: brown;
     border-width: 10px;
     text-shadow: 4px 4px 4px white;
}
body{
    background-image: url("drum_img/bgimg.png");
}